{% extends "base.html" %}
{% load format_filter %}
{% block content %}

<div style="display:flex; gap:20px;">

    <!-- SIDEBAR -->
    <aside>
        <h3>Danh mục</h3>
      {% for root in categories %}
            <div>
                <a href="{% url 'shop:category_detail' root.slug %}">{{ root.name }}</a>
                
                {% for child in root.children.all %}
                    <ul>
                        <li>
                            <a href="{% url 'shop:category_detail' child.slug %}">
                                {{ child.name }}
                            </a>
                        </li>
                    </ul>
                {% endfor %}
            </div>
        {% endfor %} 
        <hr>
        <h3>Loc san pham</h3>
        <div style="width:200px;">

    <h3>Hãng</h3>

    <a href="?">Tất cả</a>

    {% for brand in brands %}
        <div>
            <a href="?brand={{ brand.slug }}">
                {{ brand.name }}
            </a>
        </div>
    {% endfor %}

    <hr>

    <h3>Giá</h3>

    <a href="?min_price=0&max_price=10000">0 - 10.000</a><br>
    <a href="?min_price=10000&max_price=50000">10.000 - 50.000</a><br>
    <a href="?min_price=50000">> 50.000</a>

</div>
     
    </aside>

    <!-- MAIN CONTENT -->
<main style="flex:1;">

    <h1>{{ category.name }}</h1>

    {% if is_filtered %}

        <!-- FILTER MODE -->
        <div style="display:grid; grid-template-columns: repeat(4,1fr); gap:20px;">

            {% for product in products %}
                <div>
                    <a href="{% url 'shop:product_detail' product.slug %}">
                        {{ product.name }}
                    </a>
                    <p>{{ product.price|dot_thousands }}</p>
                </div>
            {% empty %}
                <p>Không có sản phẩm</p>
            {% endfor %}

        </div>

    {% else %}

        <!-- GROUPED MODE -->
        {% for group in grouped_products %}

            <h2>{{ group.category.name }}</h2>

            <div style="display:grid; grid-template-columns: repeat(4,1fr); gap:20px;">
                {% for product in group.products %}
                    <div>
                        <a href="{% url 'shop:product_detail' product.slug %}">
                            {{ product.name }}
                        </a>
                        <p>{{ product.price|dot_thousands }}</p>
                    </div>
                {% endfor %}
            </div>

        {% endfor %}

    {% endif %}

</main>

{% endblock %}