{% extends 'base.html' %}

{% block title %}
    
{% endblock title %}

{% block navbar %}
    <nav>
    <a href="/">Home</a>

    {% for category in categories %}
        <a href="{% url 'shop:category_detail' category.slug %}">
            {{ category.name }}
        </a>
    {% endfor %}
</nav>
{% endblock navbar %}
    
{% block content %}
<h1>Products</h1>

<div style="display:grid; grid-template-columns: repeat(4,1fr); gap:20px;">
    {% for product in products %}
        <div>
            <a href="{% url 'shop:product_detail' product.slug %}">
                <h3>{{ product.name }}</h3>
            </a>

            <p>{{ product.price }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}