{% extends 'base.html' %}

{% block title %}
    {% if category %}
        {{ category.name }} - Gtbooks Store
    {% else %}
        All product - Gtbooks Store
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        
        {% if category %}
            Category: {{ category.name }}
        {% else %}
            All Products
        {% endif %}
            
    </h1>
    <div class="products">
        {% for product in products %}
            <a href="{% url 'shop:product_detail' product.slug %}">    
                <p>Product name: {{product.name}}</p>
                <p>Price: {{product.price}}</p>
                <p>
                {% if product.is_in_stock %}
                {{product.stock}}
                {% else %}
                    Out of stock
                {% endif %}
                </p>    
            </a>    
        {% empty %}
        <p>There are products in this category.</p>    
        {% endfor %}
    </div>
        

{% endblock %}